#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

build:
	cp tcollector.py tcollector

clean:
	dh_clean
	rm -f tcollector

override_dh_gencontrol:
	echo "python:Depends=python, python-psycopg2" >> debian/tcollector.substvars
	dh_gencontrol

override_dh_installinit:
	dh_installinit --no-start
